.pns_lightbox_container_border {
   border-radius: initial;
   padding: 6px;
}

.pns_lightbox_close {
    top: 10px !important;
    right: 5px !important;
    font-size: 20px !important;
}

.pns_lightbox_close .close-x {
    -webkit-filter: invert(60%);
    filter: invert(60%);
    height: 25px;
}

.pns_lightbox_close .close-x:hover {
    top: -1px;
}

.pns_lightbox_container {
    background-color: #f7f9f9 !important;
}

.pns_lightbox_container_border {
    border: none;
    background-color: rgba(0,0,0,0);
}

iframe.pns_important-dim-empty#launchpad_iframe {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}


iframe.pns_important-dim-full#launchpad_iframe {
    width: 300px !important;
    height: 100% !important;
    display: block !important;
}

/* default iframe css */
iframe#launchpad_iframe {
    height: 0;
    display: none;
    width: 0;
    position: fixed;
    top: 0px;
    right: -2px;
    border: none;
    background-color: #f7f9f9;
    overflow:hidden;
    z-index: 2147483639;
    clip: auto;
    box-shadow: rgb(181, 181, 181) 1px 0px 3px 3px;
}

iframe.pns_content_iframe {
    display: inline !important;
}

.navbar {
    background-color: #ffffff !important;
    margin-bottom: 0;
    height: 75px !important;
}

#navbar {
    padding-top: 10px;
}

.navbar {background-color: #91092f;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {color: #f1f1f1;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: #f1f1f1; background-color: #91092f;}

@media only screen and (max-width: 766px) {
    .collapsing, .in {background-color: #f7f7f7;}
    .collapsing ul li a, .in ul li a {color: #91092f!important;}
    .collapsing ul li a:hover, .in ul li a:hover {color: #f88017!important;}
}

.navbar-toggle {
    padding-top: 20px !important;
}

.nav a {
    color: #91092f !important;
    font-weight: bold;
    font-size: 16px;
}

.nav a:hover{
    color: #f88017 !important;
}


.jumbotron {
    background-image:url("images/mobileapps.png");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.jumbotron .container {
    background-color: #2c3539;
    color: #ffffff;
    position: relative;
    top:70px;
    width: 850px;
    opacity: 0.8;
}

.jumbotron .container a{
    color: #ffffff;
    background-color: #F88017;
    border: 1px groove #ffffff;
    padding: 5px;
}

.jumbotron h1 {
    color: #f88017;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

#sponsors{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    padding: 4px;
    margin: 0 auto;
}

#sponsors h2 {
    color: #91092f;
    font-size: 30px;
    text-align: center;
}

#learn-more {
    background-color: #f7f7f7;
    border: 1px solid #dbdbdb;
    padding-bottom: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#learn-more .container {
    width: 75%;
}

#learn-more h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#learn-more a {
    color: #91092f;
}

#page-about {
    color: #91092f;
    font-weight:bold;
    font-size: medium;
    text-align: center;
    width: 50%;
}

#page-about table {
    margin: 0 auto;
}

#page-about .name-col {
    width: 225px;
}

#page-about .social-media-col {
    width: 100px;
}

#page-about .fa {
    color: #f88017;
}

#page-about .fa:hover {
    color: #dbdbdb;
}



#page-about h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#page-content-meetups {
    color: #91092f;
    font-weight:bold;
    font-size: medium;
    text-align: center;
    width: 50%
}

#page-content-meetups h1 {
    font-weight:bold;
    font-size: xx-large;
    font-family: Arial, sans-serif;
}

#page-content-help {
    color: #91092f;
    font-weight:bold;
    font-size: medium;
    text-align: center;
    width: 50%
}

#page-content {
    color: #91092f;
    font-weight:bold;
    font-size: medium;
    text-align: center;
}

#page-content h3 {
    color: #f88017;
}

#page-content-help h3 {
    color: #f88017;
}

#page-content h1{
    font-weight:bold;
    font-size: xx-large;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #91092f !important;
}

.footer p {
    color: #ffffff;
    text-align: center;
}

.thumbnail {
    margin: 0 auto;
    border: 0 none;
    box-shadow: none;
    height: 200px;
    width: 200px;
    background: transparent;
    overflow: hidden;
    text-align: center;
    display:table;
    border-spacing: 2px;
}

.thumbnail-wrapper{
    display:table-cell;
    vertical-align:middle;
}

.apps-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block !important;
}

.apps-thumbnail img {
    max-width: 100%;
}

.downloads-thumbnail {
    display: block !important;
    height: 100px;
}

.downloads-thumbnail img {
    max-width: 100%;
}