<footer class="page-footer grey darken-4 grey-text text-lighten-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p>Made with <span class="heart">♥</span> by the M&WD leaders in Blacksburg, VA</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:vtappdevelopement@gmail.com">vtappdevelopement@gmail.com</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/274563705969142/">Facebook Group</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      © 2015 VT M&WD Club, Inc. All Rights Reserved.
    </div>
  </div>
</footer>

<script src="/js/thirdparty/jquery-2.1.4.min.js"></script>
<script src="/js/thirdparty/materialize/bin/materialize.min.js"></script>
<script src="/js/init.js"></script>
