<head>
<meta name="google-site-verification" content="i1B_dZM8nfMc6hy8G_94n_ebofaG5Fvp2bBLurRSK6c" />
<meta name="msvalidate.01" content="39FEB08AF763849FBF27A4C4EF910F1D" />
<!-- Required to add a sitemap to google and bing + yahoo (in attempts to improve web presence) -->

  <meta charset="utf-8">
  <title>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">

  <link rel="icon" type="image/png" href="/images/madicon.png">
</head>
