<nav class="red darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            <img src="/images/madicon.png" alt="MAD Logo, link to home page" />
        </a>

      <ul class="right hide-on-med-and-down">
        {% for spage in site.pages %}
        {% if spage.permalink == "/" %}
        {% elsif spage.title %}
        <li><a href="{{ spage.url | prepend: site.baseurl }}"
        class="menu-link {% if page.url == spage.url %}active{% endif %}">
        {{ spage.title }}
        </a></li>
        {% endif %}
        {% endfor %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% for spage in site.pages %}
        {% if spage.permalink == "/" %}
        {% elsif spage.title %}
        <li><a href="{{ spage.url | prepend: site.baseurl }}"
        class="menu-link {% if page.url == spage.url %}active{% endif %}">
        {{ spage.title }}
        </a></li>
        {% endif %}
        {% endfor %}
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>
